body {
    background-color: #222831;
    margin: 0;
    font-family: sans-serif;
}


.wrapper {
    display: flex;
    height: 100vh;
    width: 100wh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.wrapper button {
    padding: 0.8rem;
    background: #FD7014;
    color: #222831;
    border: none;
    cursor: pointer;
}

.wrapper button:hover {
    background-color: #f88436;
    transition: 0.7s;
}

.accordion {
    width: 30rem;
}

.item {
    background: #393E46;
    margin-bottom: 1rem;
    padding: 1rem;

}

.title {
    color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    cursor: pointer;
}

.content {
    color: #EEEEEE;
    height: auto;
    text-align: justify;

}

.plus {
    color: #FD7014
}